<body>
  <section class="hero">
    <div class="information">
      <h2>About Me</h2>
      <p>Hi! My name is Matty Armendariz. I am a Computer Science Graduate Student and Student Athlete at Colorado
        School
        of Mines. I am an aspiring full-stack software developer with experience creating enterprise level microservice
        web-apps leveraging cloud computing at Tyler Technologies. My interests are in web-development, artificial
        intelligence, and machine learning. I love the need to constantly be learning, the challenge, and the constant
        mental stimulation that software engineering entails. When I am not doing work for school or at the football
        stadium I love tinkering around will technology, programming and trying to automate thing to save me some time.
      </p>
    </div>
    <div class="headshot-container">
      <img class="headshot" src="assets/img/ME.jpg" alt="Picture of Me">
    </div>
  </section>
  <section>
    <div class="outside-of-programming">
      <h2>Outside of School & Programming</h2>
      <p>Outside of school and programming I love football, hanging out with friends, weightlifting and hiking! I have
        been playing football since I was 9 years old and it is something that has been a huge part of my life,
        instilling the work ethic and resiliance that I bring into every facet of my life. One thing that I am extremely
        proud of, is that I was able to get my Master's in Computer Science while also being able to play collegiate
        football at a high enough level to be named Consensus First-Team All America as well as winning the Rimington
        Award for the best center (my football position) in the Nation at the Collegiate Level.</p>
    </div>
    <div class="achievement-container">
      <img class="all-american" src="assets/img/MeFootball.jpg" alt="1st Team All America">
      <a
        href="https://minesathletics.com/news/2022/1/6/football-armendariz-wins-rimington-award-as-d-iis-top-center.aspx"><img
          class="rimington" src="assets/img/rimington-trophy.png" alt="rimington-trophy"></a>
    </div>
  </section>
</body>
