html, body{
    max-width:100%;
    max-height:100%;
    margin:0;
    padding:0;
    background-color: #1c1d25;
    overflow: hidden;
    overflow-y: auto;
    
}

.toolbar{
    width: 100%;
}
.hero{
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

h1{
    font-size: 70px;
    margin: 0px;
    line-height: 1.25;
    width: auto;
}

p{
    margin-top:30px;
    font-size: 30px;
    font-weight: 400;
    margin-left: 10px;
}

.hero-text{
    margin-bottom: 0px;
    margin-left: 40px;
    margin-top: 10px;
}

.hero-area{
    display: flex;
}

.logo{
    height: 80px;
    margin: 30px;
}

.socials{
    margin-left: 40px;
    margin-bottom: 30px;
    display: flex;
}

.social-icon{
    margin-top: 40px;
    padding-right: 15px;
}

.top-row{
    display: flex;
    flex-direction: row;
}

.hero-image {
  position: relative;
  width: 50%;
  height: 350px;
  display: block;
  margin-bottom: 20px;
  margin-left: 15%;
  margin-right: auto;
}

.proficiencies{
    margin-left: 8%;
    margin-right: auto;
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 350px;
}


.cube {
  position: absolute;
  width: 80px;
  height: 80px;
  transform: rotate(-25deg) skew(25deg);
}

.cube:before {
  position: absolute;
  content: "";
  width: 21px;
  height: 100%;
  transform: skewY(-45deg);
  left: -20px;
  bottom: -10px;
}

.cube:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 21px;
  transform: skewX(-45deg);
  left: -10px;
  bottom: -20px;
}

#html {
  left: 0px;
  bottom: 80px;
  background-image: url("images/html-square.png");
  background-size: cover;
  background-color: rgb(227, 186, 119);
  box-shadow: -60px 60px 20px rgba(202, 202, 202, 0.15);
}

#html:before {
  background-color: rgb(221, 198, 154);
}

#html:after {
  background-color: rgb(221, 212, 188);
}

#css {
  left: 100px;
  bottom: 240px;
  background-image: url("images/css-square.png");
  background-size: cover;
  background-color: rgb(227, 119, 191);
  box-shadow: -100px 100px 20px rgb(202, 202, 202, 0.15);
}

#css:before {
  background-color: rgb(221, 154, 207);
}

#css:after {
  background-color: rgb(221, 188, 211);
}

#typescript {
  left: 350px;
  bottom: 240px;
  background-image: url("images/typescript-square.png");
  background-size: cover;
  background-color: rgb(119, 193, 227);
  box-shadow: -100px 100px 20px rgb(202, 202, 202, 0.15);
}

#typescript:before {
  background-color: rgb(154, 189, 221);
}

#typescript:after {
  background-color: rgb(188, 200, 221);
}


#angular {
  left: 250px;
  bottom: 80px;
  background-image: url("images/angular-square.png");
  background-size: cover;
  background-color: rgb(227, 119, 119);
  box-shadow: -80px 80px 20px rgb(202, 202, 202, 0.15);
}

#angular:before {
  background-color: rgb(221, 154, 154);
}

#angular:after {
  background-color: rgb(221, 188, 188);
}

#python {
  left: 500px;
  bottom: 80px;
  background-image: url("images/python-square.png");
  background-size: cover;
  background-color: rgb(223, 227, 119);
  box-shadow: -80px 80px 20px rgb(202, 202, 202, 0.15);
}

#python:before {
  background-color: rgb(214, 221, 154);
}

#python:after {
  background-color: rgb(221, 216, 188);
}

#mysql {
  left: 750px;
  bottom: 80px;
  background-image: url("images/mysql-square.png");
  background-size: cover;
  background-color: rgb(224, 145, 106);
  box-shadow: -80px 80px 20px rgb(202, 202, 202, 0.15);
}

#mysql:before {
  background-color: rgb(215, 168, 140);
}

#mysql:after {
  background-color: rgb(220, 199, 174);
}

#micro-service{
  left: 975px;
  bottom: 80px;
  background-image: url("images/micro-service-square.png");
  background-size: cover;
  background-color: rgba(220, 220, 220, 0.865);
  box-shadow: -80px 80px 20px rgb(202, 202, 202, 0.15); ;
}
  
  #micro-service:before {
  background-color: rgb(169, 166, 163);
}

#micro-service:after {
  background-color: rgb(226, 226, 226);
}

#csharp {
  left: 600px;
  bottom: 240px;
  background-image: url("images/csharp-square.png");
  background-size: cover;
  background-color: rgb(121, 227, 119);
  box-shadow: -100px 100px 20px rgb(202, 202, 202, 0.15);
}

#csharp:before {
  background-color: rgb(159, 221, 154);
}

#csharp:after {
  background-color: rgb(188, 221, 188);
}

#dotnet {
  left: 850px;
  bottom: 240px;
  background-image: url("images/dotnet-square.png");
  background-size: cover;
  background-color: rgb(171, 119, 227);
  box-shadow: -100px 100px 20px rgb(202, 202, 202, 0.15);
}

#dotnet:before {
  background-color: rgb(188, 154, 221);
}

#dotnet:after {
  background-color: rgb(208, 188, 221);
}

.tech{
    margin-left: 45px;
}

.other-tech{
    margin-left: 40px;
    margin-bottom: 45px;
}

.linkedin{
    width:40px;
    margin-bottom: 15px;
}

a:link{
    text-decoration: none;
}

.skills{
    color: #4e9dc7;
}

.technology{
    margin-bottom: 0px
}

.individual-skills{
    margin-top: 15px;
    font-size: 20px;
}

.bottom-space{
    height: 65px;
}

a:hover{
  color: white;
}

.about-header{
  display: flex;
  flex-direction: row;
}

.about-title{
  margin-top: 20px;
  margin-left: 15px; 
  font-size: 40px;
  color: white;
  font-weight: 200;
}

.about-website{
  margin-top: 40px;
  margin-left: 40px;
  
}
.angular{
  width: 35px;
}

.about-content{
  color: white;
  font-size: 20px;
  margin-top: 20px;
}

.paragraph{
  margin-bottom: 15px;
  margin-bottom: 5px;
}
.paragraph2{
  margin-top: 5px;
}
