mat-sidenav-container{
    height: 95vh;
}

mat-sidenav{
    width: 200px;
    background-color: lightblue;
}

.nav-options{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

a:link {text-decoration: none;}
a{
    color: black;
}

.option{
    margin-left: 5px;
    margin-right: 5px;
}

