<section class="hero">
  <a href="https://github.com/Matty-Armendariz" class="projects">
    Projects</a>
  <div class="project-container">
    <div class="project-card">
      <img class="connect4" src="assets/img/Connect4AI.png" alt="Connect4Ultra">
      <div class="content">
        <h1>Ultra Connect 4:</h1>
        <p class="description">Overview: Created an AI to play a version of connect 4 in which the game does not end
          till you fill up the
          entire board and the score is continuously tallied by parsing the board and updating the score after every
          move. This AI implements the minimax algorithm from game theory to look look up to look a certain amount of
          moves in the future and determine the best possible to optimize the odds of winning</p>
        <p class="description">What I Learned: I learned a lot about several different types of game theory algorithms
          and how to implement them such as expectimax, montecarlo tree search and, nash equilibrium algorithms. Finally
          landing on the minimax to implement in this project. To drastically improve
          the run time and efficiency of the project I implemented alpha beta pruning to systematically remove
          unecessary permutation calculations. This results in an AI that can look 8 moves ahead (including all relevant
          permutations of possible moves) in around 2 seconds, and 10-11 moves in the future in 10-15 seconds</p>
        <p class="description">What I Would Improve: As far as the algorithm, I cannot think of any way to further
          improve the AI. However, if I where to spend more time on the project I could definately use a game library
          like pygame to make a much more aesthetically pleasing product.</p>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="project-card">
      <img class="website" src="assets/img/website.png" alt="ThisWebsite">
      <div class="content">
        <h1>This Website:</h1>
        <p class="description">Overview: Created this website using Angular as well as the Angular Material Design
          library. This website was deployed by myself using Hostinger </p>
        <p class="description">What I Learned: I was able to improve my knowlege on from end development and deployment
          of applications to a remote server as well as setting up the secure socket layer and other things necessary to
          get a webapp up and running.</p>
        <p class="description">What I Would Improve: I would work on this website off and on while being a full-stack
          software development intern, so my skills at the beginning of project to the end were vastly different. Things
          that took me a pretty long time at the beginning of the project were extremely quick to make and implement,
          because of this I lost a lot of time at the beggining of the project due to the learning curve of learning
          Angular and switching from a striclty HTML and CSS website to an Angular web app. I
          would like to spend a lot more time on the website refining it and adding cool features now that I am much
          more comfortable with front end development but with school and football coming up I do not anticipate having
          enough time to dedicate to it.</p>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="other">
      <h1>For other smaller miscellaneous projects please visit my GitHub that is linked on the projects header or on
        the GitHub Logo on the home page!</h1>
    </div>
  </div>
  <div class="end-space"></div>
</section>
